.homeSection {
    background-color: var(--black);

    .desc {
        p {
            font-size: 20px;
            color: var(--white);
            opacity: 0.9;
            line-height: 30px;
            max-width: 800px;
            margin-top: 30px;
            font-weight: 500;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            @media screen and (max-width:991.98px) {
                font-size: 16px;
                line-height: 22px;
            }

        }
    }

    &.module {
        .desc {
            .category{
                &.noneLine{
                    margin-bottom: 0;
                    &:after{
                        display: none;
                    }
                }
            }
            .bannerTitle,
            h1 {
                text-align: center;
                font-family: "GilroyMedium";
            }

            p {
                text-align: center;
                margin: 30px auto;
            }
        }

        &.start {
            .desc {
                .category {
                    margin-left: 0;
                    text-align: left;

                    &:after {
                        left: 0;
                        right: auto;
                        margin: 0;
                    }
                }

                .bannerTitle,
                h1 {
                    text-align: left;
                    margin-left: 0;
                }

                p {
                    margin: 30px 0;
                    text-align: left;
                    padding-left: 12px;
                    @media screen and (max-width:991.98px) {
                        padding-left: 0;
                    }
                }
            }
        }

        &.light {
            background-color: var(--white);

            .desc {
                background-color: rgba(0, 0, 0, 0);
                background: linear-gradient(101deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);

                .bannerTitle,
                h1 {
                    color: var(--black);
                }

                p {
                    color: var(--black);
                }

                .category {
                    color: rgba(0,0,0,0.6);

                    &:after {
                        background-color: rgba(0,0,0,0.4);
                    }
                }
            }
        }
    }
}