.customAcc {
  .accordion-item {
    margin-bottom: 20px;
    .accordion-button {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      font-size: 16px;
      color: var(--gray-7);
      line-height: 22px;
      font-family: "GilroySemibold";
      box-shadow: none;
      &:after {
        content: "\e903";
        transform: rotate(90deg);
        font-family: "customFont";
        background-image: none;
      }
      &:focus {
        border: none;
        box-shadow: none;
      }
      &:not(.collapsed) {
        color: var(--primary);
        &:focus {
          box-shadow: none;
        }
        &:after {
          transform: rotate(270deg);
        }
      }
    }
    &:last-child {
      @media screen and (max-width: 991.98px) {
        border-bottom: var(--bs-accordion-border-width) solid
          var(--bs-accordion-border-color);
      }
    }
    .accordion-body {
      font-size: 14px;
      line-height: 22px;
      color: var(--gray-6);
      font-family: "GilroyRegular";
      padding-top: 0;
      padding-bottom: 30px;

      a {
        font-family: "GilroySemibold";
        color: var(--primary);
        position: relative;
        &:after {
          content: "";
          border-bottom: 1px dotted var(--primary);
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          transition: all 0.3s linear;
        }
        @media screen and (min-width: 992px) {
          &:hover {
            &:after {
              width: 0;
            }
          }
        }
      }
      b {
        font-family: "GilroySemibold";
        color: var(--primary);
      }
      code {
        color: var(--primary);
        font-family: "GilroyRegular";
      }
    }
  }
}
