section,
.section {
  &:not(:first-child) {
    margin-top: 120px;
    @media screen and (max-width: 991.98px) {
      margin-top: 80px;
    }
  }
  .sectionWrapper {
    padding: 65px;
    @media screen and (max-width: 991.98px) {
      padding: 30px 16px;
    }
  }
  .sectionWrapper-2 {
    .sectionContent {
      padding: 45px;
      @media screen and (max-width: 991.98px) {
        padding: 30px 16px;
      }
    }
    &.type2 {
      padding-top: 25px;
    }
  }
  .sectionHead {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
    @media screen and (max-width: 991.98px) {
      margin-bottom: 20px;
      padding-left: 16px;
      padding-right: 16px;
    }
    .category {
      font-family: "GilroyMedium";
      font-size: 14px;
      line-height: 22px;
      color: var(--gray-6);
    }
    .sectionTitle {
      font-family: "GilroySemibold";
      font-size: 35px;
      color: var(--primary);
      line-height: 45px;
      @media screen and (max-width: 991.98px) {
        font-size: 20px;
        line-height: 30px;
      }
    }
    .sectionText {
      font-family: "GilroyRegular";
      font-size: 15px;
      color: var(--gray-6);
      line-height: 25px;
      margin-top: 25px;
      @media screen and (max-width: 991.98px) {
        font-size: 14px;
        line-height: 22px;
        margin-top: 15px;
        text-align: justify;
      }
    }

    &.type2 {
      text-align: left;
      max-width: initial;
      margin-bottom: 30px;
      .sectionTitle {
        font-family: "GilroySemibold";
        font-size: 30px;
        line-height: 37px;
        text-transform: none;
        @media screen and (max-width: 991.98px) {
          font-size: 20px;
          line-height: 30px;
        }
      }
      .sectionText {
        font-family: "GilroyMedium";
        line-height: 30px;
        margin-top: 0;
        max-width: 800px;
        font-size: 15px;
        line-height: 22px;
        margin-top: 15px;
        text-align: justify;
        &.type2 {
          font-size: 16px;
          line-height: 25px;
        }
      }
    }
  }
  .sectionContent {
  }

  .customBlockquote {
    blockquote {
      display: flex;
      align-items: center;
      min-height: 110px;
      padding: 30px;
      color: var(--white);
      @media screen and (max-width: 991.98px) {
        padding-left: 16px;
        padding-right: 16px;
      }
      @media screen and (max-width: 640px) {
        flex-wrap: wrap;
      }

      .icon-star-percent {
        font-size: 46px;
      }
      p {
        font-family: "GilroyBold";
        font-size: 18px;
        color: var(--white);
        line-height: 26px;
        padding-left: 30px;
        @media screen and (max-width: 991.98px) {
          padding-left: 16px;
        }
        @media screen and (max-width: 640px) {
          flex: 1;
        }
      }
      .fixBtn {
        margin-left: auto;
        font-family: "GilroySemibold";
        font-size: 16px;
        height: 60px;
        min-width: 200px;
        @media screen and (max-width: 640px) {
          width: 100%;
          max-width: 400px;
          margin: 30px auto 0;
        }
      }
    }
  }
}
.container-3xl {
  .sectionHead {
    @media screen and (max-width: 991.98px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.videoContent {
  max-width: 1200px;
  margin: 0 auto;
}
.homeSection {
  padding-top: 85px;
  height: 100vh;
  display: flex;
  align-items: center;
  @media screen and (max-width: 991.98px) {
    height: auto;
  }

  .leftColumn {
    background-color: var(--white);
    border-radius: 0 300px 300px 0;
    border: 1px solid var(--gray-3);
    max-width: 900px;
    padding-left: 90px;
    padding-right: 120px;
    padding-bottom: 40px;
    // height: 56vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media screen and (max-height: 900px) {
    }
    @media screen and (max-width: 1700px) {
      padding-left: 36px;
      padding-right: 36px;
      padding-top: 30px;
    }
    @media screen and (max-width: 991.98px) {
      padding: 50px 30px;
      border-radius: 0 200px 200px 0;
    }
    // @media screen and (max-width: 1440px) {
    //   padding-left: 30px;
    //   padding-right: 50px;
    // }

    .category {
      font-family: "GilroyBold";
      font-size: 17px;
      line-height: 25px;
      color: var(--primary);
      margin-bottom: 15px;
      @media screen and (max-height: 768px) {
        margin-bottom: 5px;
      }
      @media screen and (max-width: 1366px) {
        margin-bottom: 5px;
      }
      @media screen and (max-width: 991.98px) {
        font-size: 13px;
        line-height: 22px;
      }
    }
    h1,
    .sectionTitle {
      font-family: "GilroySemibold";
      font-size: 50px;
      line-height: 60px;
      color: var(--black);
      margin-bottom: 20px;
      @media screen and (max-height: 900px) {
        font-size: 48px;
        line-height: 52px;
      }
      @media screen and (max-height: 768px) {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 10px;
      }
      @media screen and (max-width: 1600px) {
        font-size: 48px;
        line-height: 52px;
        max-width: 80%;
      }
      @media screen and (max-width: 1440px) {
        font-size: 36px;
        line-height: 42px;
      }
      @media screen and (max-width: 1366px) {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 10px;
      }
      @media screen and (max-width: 991.98px) {
        font-size: 20px;
        line-height: 28px;
      }
    }
    .text {
      font-family: "GilroyRegular";
      font-size: 15px;
      line-height: 25px;
      color: var(--gray-6);

      @media screen and (max-height: 768px) {
        line-height: 21px;
      }
      @media screen and (max-width: 1600px) {
        max-width: 80%;
      }
      @media screen and (max-width: 1366px) {
        line-height: 21px;
      }
      @media screen and (max-width: 991.98px) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  small {
    font-size: 15px;
    color: var(--gray-6);
    font-family: "GilroyRegular";
    padding: 50px 0 0;
    text-align: center;
    line-height: 24px;

    a {
      color: var(--primary);
      font-family: "GilroySemibold";
      position: relative;
      @media screen and (max-width: 991.98px) {
        &:hover {
          color: var(--primary);
        }
      }

      &:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--primary);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.3s linear;
      }

      @media screen and (min-width: 992px) {
        &:hover {
          width: 0;
        }
      }
    }
  }
  .iconList {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    @media screen and (max-height: 900px) {
      margin-top: 0;
    }
    @media screen and (max-width: 1600px) {
      margin-top: 0;
    }
    @media screen and (max-width: 991.98px) {
      gap: 30px;
      flex-direction: column;
      align-items: flex-start;
    }
    a {
      font-family: "GilroyRegular";
      font-size: 13px;
      color: #878787;
      position: relative;
      &:after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: #878787;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.3s linear;
      }

      @media screen and (min-width: 992px) {
        &:hover {
          &:after {
            width: 0;
          }
        }
      }
    }
  }
  .videoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    max-width: 575px;
    border-radius: 100px;
    margin-left: auto;
    @media screen and (max-width: 991.98px) {
      border-radius: 40px;
      margin-right: auto;
    }
    video,
    iframe {
      min-width: 100%;
      min-height: 100%;
      height: auto;
      width: auto;
      object-fit: cover;
      object-position: center;
      max-width: initial;
    }
  }
}

.boatTabWrapper {
  // aspect-ratio: 9/5;
  height: 800px;
  overflow: hidden;
  @media screen and (max-width: 991.98px) {
    height: auto;
    padding-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.tekneKiralamaSection {
  .sectionHead {
    @media screen and (max-width: 768px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  .container-3xl {
    @media screen and (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.populerLokasyonSection {
  .container-3xl {
    @media screen and (max-width: 991.98px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .sectionContent {
    display: flex;
    align-items: stretch;
    gap: 40px;
    @media screen and (max-width: 991.98px) {
      display: block;
    }
  }
  .allLinkCard {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 25px;
    padding: 20px 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    @media screen and (max-width: 991.98px) {
      max-width: 400px;
      width: calc(100% - 32px);
      margin: 40px auto 0;
      height: 115px;
      padding: 20px;
      border-radius: 24px;
      background-color: var(--gray-2);
    }

    &:after {
      content: "";
      width: 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--gray);
      transition: all 0.3s linear;
      z-index: -1;
      border-radius: 20px;
    }
    .cardBody {
      text-align: center;
      padding-top: 0;

      .title {
        color: var(--white);
        font-size: 20px;
        line-height: 28px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-transform: uppercase;
        @media screen and (max-width: 991.98px) {
          font-size: 15px;
          line-height: 25px;
          text-transform: none;
          color: var(--gray-6);
          font-family: "GilroyMedium";
        }
      }
      .cardText {
        color: var(--white);
        margin-top: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-family: "GilroyRegular";
        font-size: 15px;
        line-height: 22px;
        text-transform: uppercase;
        padding-top: 12px;
        @media screen and (max-width: 991.98px) {
          margin-top: 0;
          padding-top: 0;
          font-size: 13px;
          line-height: 20px;
          text-transform: none;
          color: var(--gray-6);
          font-family: "GilroyMedium";
        }
      }
      .textLink {
        color: var(--white);
        display: flex;
        align-items: center;
        margin-top: 100px;
        justify-content: center;
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        font-size: 15px;
        font-family: "GilroyMedium";
        line-height: 22px;
        text-transform: uppercase;
        gap: 20px;
        @media screen and (max-width: 991.98px) {
          position: relative;
          margin-top: 20px;
          bottom: 0;
          font-size: 13px;
          line-height: 20px;
          text-transform: none;
          gap: 10px;
          color: var(--gray-6);
          font-family: "GilroyMedium";
        }
        &:after {
          display: none;
        }
        .icon-arrow-long {
          font-size: 24px;
        }
      }
    }
    @media screen and (min-width: 992px) {
      &:hover {
        &:after {
          width: 100%;
        }
        .cardBody {
          .title {
            color: var(--gray-6);
          }
          .cardText {
            color: var(--gray-6);
          }
          .textLink {
            color: var(--gray-6);
          }
        }
      }
    }
  }
}
.blogSection {
  padding-bottom: 55px;

  .category {
    font-family: "GilroySemibold";
    font-size: 15px;
    line-height: 30px;
    color: var(--primary);
    margin-bottom: 65px;
    @media screen and (max-width: 991.98px) {
      font-size: 13px;
      margin-bottom: 5px;
    }
  }
  .title {
    font-family: "GilroyBold";
    font-size: 45px;
    line-height: 55px;
    color: var(--primary);
    margin-bottom: 15px;
    @media screen and (max-width: 991.98px) {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 10px;
      display: block;
    }
  }
  p {
    font-family: "GilroyRegular";
    font-size: 17px;
    line-height: 30px;
    color: #444444;
    margin-bottom: 32px;
    @media screen and (max-width: 991.98px) {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 25px;
    }
  }
  .buttons {
    display: flex;
    align-items: stretch;
    gap: 20px;
  }
}

.eBultenSection {
  #captchaWrapper {
    max-width: 300px;
  }
  .title {
    font-family: "GilroyBold";
    font-size: 60px;
    line-height: 85px;
    color: var(--white);
    max-width: 640px;
    @media screen and (max-width: 991.98px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .emailInputWrapper {
    display: flex;
    align-items: stretch;
    max-width: 800px;
    gap: 10px;
    margin-bottom: 25px;
    margin-top: 80px;
    @media screen and (max-width: 991.98px) {
      margin-top: 20px;
      flex-direction: column;
    }
    input {
      flex: 1;
      border: none;
      border-bottom: 1px solid var(--white);
      background-color: rgba(0, 0, 0, 0);
      color: var(--white);
      border-radius: 0;
      @media screen and (max-width: 991.98px) {
        height: 45px;
        min-height: 45px;
        margin-bottom: 10px;
        max-width: 400px;
        border-radius: 0;
      }

      &::placeholder {
        color: var(--white);
        opacity: 1;
        font-family: "GilroySemibold";
      }
      &::-moz-placeholder {
        color: var(--white);
        opacity: 1;
        font-family: "GilroySemibold";
      }
      &::-webkit-input-placeholder {
        color: var(--white);
        opacity: 1;
        font-family: "GilroySemibold";
      }
      &:-moz-placeholder {
        color: var(--white);
        opacity: 1;
        font-family: "GilroySemibold";
      }
      &:-ms-input-placeholder {
        color: var(--white);
        opacity: 1;
        font-family: "GilroySemibold";
      }
    }
    .fixBtn {
      width: 124px;
      @media screen and (max-width: 991.98px) {
        width: 100%;
        max-width: 400px;
        background-color: var(--white);
        color: var(--primary);
        font-family: "GilroySemibold";
        font-size: 16px;
        height: 60px;
      }
    }
  }
}

//iç sayfalar
.pageSection {
  padding-top: 85px;
  width: 100%;
  @media screen and (max-width: 991.98px) {
    padding-top: 65px;
  }

  .shareButton {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2) !important;
    border: none;

    @media screen and (max-width:991.98px) {
      width: 40px;
      min-width: 40px;
      padding: 0;
      right: 16px;
      bottom: 16px;
    }
    .icon-share{
      font-size: 22px;
      
    }
  }
  .allButton {
    position: absolute;
    bottom: 30px;
    left: 30px;
    height: 40px;
    border-radius: 30px;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2) !important;
    border: none;
    @media screen and (max-width:991.98px) {
      width: 40px;
      min-width: 40px;
      padding: 0;
      left: 16px;
      bottom: 16px;
    }
    .icon-gallery{
      font-size: 22px;
    }
  }
}
.pageContent {
  margin-top: 100px;
  @media screen and (max-width: 991.98px) {
    margin-top: 50px;
  }
  // @media screen and (max-width: 640px) {
  //   margin-top: 20px;
  // }

  &.padding {
    padding: 45px;
    @media screen and (max-width: 991.98px) {
      padding: 30px 16px;
    }
  }
}
.paragraph {
  font-size: 16px;
  line-height: 22px;
  color: var(--gray-7);
  font-family: "GilroyRegular";
  @media screen and (max-width: 991.98px) {
    font-size: 14px;
    line-height: 22px;
  }
  ul {
    list-style-type: disc;
    padding-left: 20px;
    li {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 14px;
      &::marker {
        color: var(--text);
        font-size: 16px;
      }
    }
  }
  .shortText {
    font-family: "GilroySemibold";
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 34px;
    // display: -webkit-box;
    // -webkit-line-clamp: 2;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
    @media screen and (max-width: 991.98px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
  span,
  h2 {
    display: block;
    color: var(--primary);
    font-size: 23px;
    line-height: 30px;
    font-family: "GilroySemibold";
    margin-bottom: 10px;
    margin-top: 20px;
    @media screen and (max-width: 991.98px) {
      font-size: 18px;
      line-height: 24px;
    }
  }
  h3 {
    display: block;
    color: var(--dark-gray);
    font-size: 18px;
    line-height: 25px;
    font-family: "GilroySemibold";
    margin-bottom: 10px;
    margin-top: 20px;
    @media screen and (max-width: 991.98px) {
      font-size: 15px;
      line-height: 24px;
    }
  }
  a {
    font-family: "GilroySemibold";
    color: var(--primary);
    display: inline-block;
    position: relative;
    &:after {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: -1px;
      transition: all 0.3s linear;
      border-bottom: 1px dotted var(--primary);
    }
    &.notafter {
      &:after {
        display: none;
      }
    }
    @media screen and (min-width: 992px) {
      &:hover {
        &:after {
          width: 0;
        }
      }
    }
  }
  b {
    font-family: "GilroySemibold";
    color: var(--primary);
  }
  strong {
    color: var(--text);
    font-family: "GilroySemibold";
  }

  &.type2 {
    font-size: 18px;
    line-height: 30px;
    @media screen and (max-width: 991.98px) {
      font-size: 14px;
      line-height: 22px;
    }
    ul {
      li {
        font-size: 18px;
        line-height: 30px;
        @media screen and (max-width: 991.98px) {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
}

.socialShareWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  .socialButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--gray-3);
    font-size: 20px;
    transition: all 0.3s linear;
    @media screen and (min-width: 992px) {
      &:hover {
        background-color: var(--primary);
        color: var(--white);
      }
    }
  }
}

/*İkili alan*/
.twiceColumn {
  display: flex;
  align-items: stretch;
  margin-top: 50px;
  @media screen and (max-width: 991.98px) {
    margin-top: 20px;
  }
  .pageDetailsContent {
    width: calc(100% - 550px);
    @media screen and (max-width:1600px) {
      width: calc(100% - 500px);
    }
    @media screen and (max-width:1440px) {
      width: calc(100% - 450px);
    }
    @media screen and (max-width: 991.98px) {
      width: 100%;
    }
  }
  .rightColumn {
    width: 450px;
    position: relative;
    margin-left: auto;
    @media screen and (max-width: 991.98px) {
      width: 100%;
      // max-width: 450px;
      margin: 0 auto 50px;
    }
  }
  .dateColumnWrapper {
    width: 100%;
    border: 1px solid var(--gray);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 12px 17px rgba(39, 54, 86, 0.14),
      0 5px 22px rgba(39, 54, 86, 0.12);
    border: 1px solid var(--gray-5);
    @media screen and (max-width: 991.98px) {
      padding: 16px;
    }
    .title {
      color: var(--text);
      font-size: 18px;
      font-family: "GilroySemibold";
      line-height: 25px;
      margin-bottom: 30px;
      @media screen and (max-width: 991.98px) {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 16px;
      }
    }
    .dateInputs {
      margin-bottom: 30px;
      @media screen and (max-width: 1366px) {
        margin-bottom: 16px;
      }
    }
    .fixBtn {
      width: 100%;
      height: 60px;
      font-family: "GilroySemibold";
      font-size: 16px;
      @media screen and (max-width: 991.98px) {
        font-size: 14px;
        height: 45px;
      }
    }
  }
  .information {
    padding: 30px;
  }
  .notification {
    background-color: var(--gray);
    border-radius: 12px;
    padding: 30px;
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    .icon-info {
      font-size: 24px;
      color: var(--text);
    }
    a {
      color: var(--text);
      font-size: 14px;
      font-family: "GilroySemibold";
      line-height: 22px;
      position: relative;
      &:before {
        content: "";
        width: 100%;
        border-bottom: 1px dotted var(--text);
        position: absolute;
        left: 0;
        bottom: 0;
        transition: all 0.3s linear;
      }
      @media screen and (min-width: 992px) {
        &:hover {
          color: var(--primary);
          &:before {
            width: 0;
            border-bottom-color: var(--primary);
          }
        }
      }
    }
  }
}

.pageDetailsContent {
  .infoDetails {
    .detailsHead {
      min-width: 400px;
      max-width: 400px;
      @media screen and (max-width: 1600px) {
        min-width: 310px;
        max-width: 310px;
      }
      .location {
        font-size: 15px;
        color: var(--text);
        line-height: 24px;
        font-family: "GilroyRegular";
        @media screen and (max-width: 1600px) {
          font-size: 14px;
        }
        @media screen and (max-width: 991.98px) {
          font-size: 13px;
          line-height: 20px;
        }
      }
      .id {
        font-size: 15px;
        color: var(--text);
        line-height: 24px;
        font-family: "GilroyRegular";
        @media screen and (max-width: 1600px) {
          font-size: 14px;
        }
        @media screen and (max-width: 991.98px) {
          font-size: 13px;
          line-height: 20px;
        }
      }
      .pageTitle {
        .title {
          font-family: "GilroySemibold";
          font-size: 30px;
          line-height: 37px;
          color: var(--primary);
          min-width: 400px;
          max-width: 400px;
          @media screen and (max-width: 1600px) {
            font-size: 24px;
            line-height: 32px;
            min-width: 310px;
            max-width: 310px;
          }
          @media screen and (max-width: 991.98px) {
            font-size: 20px;
            line-height: 27px;
            min-width: 100%;
            width: 100%;
          }
        }
      }
      .type {
        font-size: 17px;
        font-family: "GilroySemibold";
        color: var(--gray-7);
        line-height: 27px;
        margin-top: 15px;
        @media screen and (max-width: 1600px) {
          font-size: 15px;
        }
        @media screen and (max-width: 991.98px) {
          font-size: 14px;
          line-height: 20px;
          margin-top: 10px;
        }
      }
      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        margin-top: 15px;
        span {
          font-size: 15px;
          font-family: "GilroyMedium";
          line-height: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 16px;
          border-radius: 5px;
          color: var(--gray-6);
          position: relative;
          @media screen and (max-width: 1600px) {
            font-size: 14px;
          }
          @media screen and (max-width: 991.98px) {
            font-size: 13px;
            line-height: 20px;
            padding: 5px 10px;
          }
          &:first-child {
            padding-left: 0;
          }
          &:not(:first-child):before {
            content: "|";
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }
  .properties {
    .point {
      background: var(--primary);
      z-index: 9;
      left: 0;
      padding: 10px 30px;
      display: inline-flex;
      align-items: center;
      border-radius: 10px;
      width: auto;
      gap: 30px;
      margin-bottom: 30px;
      @media screen and (max-width: 991.98px) {
        gap: 15px;
        padding: 10px 16px;
      }
      .icon-star-percent {
        color: var(--white);
        font-size: 36px;
        margin-right: 5px;
        @media screen and (max-width: 991.98px) {
          font-size: 26px;
        }
      }
      .icon-star {
        color: var(--white);
        font-size: 36px;
        margin-right: 15px;
        @media screen and (max-width: 1600px) {
          font-size: 30px;
          margin-right: 10px;
        }
        @media screen and (max-width: 991.98px) {
          font-size: 26px;
          margin-right: 5px;
        }
      }
      .pointNumber {
        font-family: "GilroyMedium";
        font-size: 32px;
        color: var(--white);
        @media screen and (max-width: 1600px) {
          font-size: 30px;
        }
        @media screen and (max-width: 991.98px) {
          font-size: 26px;
        }
      }
      .text {
        font-family: "GilroyRegular";
        font-size: 16px;
        color: var(--white);
        position: relative;
        @media screen and (max-width: 1600px) {
          font-size: 15px;
        }
        @media screen and (max-width: 991.98px) {
          font-size: 14px;
        }
        &:after {
          content: "";
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          border-bottom: 1px dotted var(--white);
          transition: all 0.3s linear;
        }
        @media screen and (min-width: 992px) {
          &:hover {
            &:after {
              width: 0;
              overflow: hidden;
            }
          }
        }
      }
    }
    .category {
      display: flex;
      gap: 20px;
      flex-direction: column;
      @media screen and (max-width: 991.98px) {
        gap: 10px;
      }
      span {
        border-radius: 10px;
        background-color: var(--gray);
        box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.275);
        color: var(--gray-6);
        font-family: "GilroyRegular";
        padding: 10px 20px;
        font-size: 15px;
        @media screen and (max-width: 991.98px) {
          font-size: 13px;
          padding: 10px;
        }
      }
    }
  }
}

.subContent {
  padding-top: 70px;
  @media screen and (max-width: 991.98px) {
    padding-top: 30px;
  }
  .standartLine {
    margin-top: 80px;
    margin-bottom: 80px;
    @media screen and (max-width: 991.98px) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
  .otherProperties {
    padding-top: 50px;
    .caption {
      font-family: "GilroySemibold";
      font-size: 22px;
      color: var(--text);
      line-height: 37px;
      margin-bottom: 20px;
      margin-top: 50px;
      position: relative;
      @media screen and (max-width: 1600px) {
        font-size: 21px;
      }
      @media screen and (max-width: 1400px) {
        font-size: 20px;
      }
      @media screen and (max-width: 991.98px) {
        font-size: 18px;
        line-height: 25px;
        margin-top: 30px;
        margin-bottom: 20px;
      }
      &:after {
        content: "";
        width: 30px;
        height: 2px;
        background-color: var(--primary);
        position: absolute;
        left: 0;
        bottom: 0;
        @media screen and (max-width: 991.98px){
          bottom: -2px;
        }
      }
    }
    .subTitle {
      font-family: "GilroySemibold";
      font-size: 16px;
      color: var(--text);
      line-height: 27px;
      margin-bottom: 30px;
      margin-top: 50px;
      padding-left: 14px;
      @media screen and (max-width: 991.98px) {
        font-size: 15px;
        margin-bottom: 10px;
        margin-top: 40px;
      }
      position: relative;
      &:after {
        content: "";
        width: 7px;
        height: 1px;
        background-color: var(--primary);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.productsPropList {
  // margin-bottom: 80px;
  .item {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
    &:first-child{
      @media screen and (max-width:991.98px) {
        padding-top: 0;
      }
    }
    .title {
      font-size: 16px;
      font-family: "GilroyMedium";
      line-height: 25px;
      color: var(--gray-7);
      width: 30%;
      margin-bottom: 0;
      @media screen and (max-width: 991.98px) {
        font-size: 14px;
        line-height: 22px;
        width: 55%;
      }
    }
    .content {
      font-size: 17px;
      line-height: 25px;
      color: var(--text);
      font-family: "GilroyRegular";
      width: 70%;
      @media screen and (max-width: 991.98px) {
        font-size: 16px;
        width: 45%;
      }
      b {
        font-family: "GilroySemibold";
      }
    }
    .tags {
      display: flex;
      align-items: stretch;
      gap: 30px;
      flex-wrap: wrap;
      @media screen and (max-width:991.98px) {
        gap: 15px;
      }

      & > span {
        display: inline-flex;
        justify-content: center;
        border: 1px solid var(--gray);
        color: var(--gray-6);
        font-size: 14px;
        font-family: "GilroyMedium";
        padding: 10px 15px;
        border-radius: 30px;
      }
    }
    .itemHead {
      display: flex;
      align-items: center;

      .name {
        font-family: "GilroySemibold";
        font-size: 18px;
        line-height: 25px;
        color: var(--black);
        @media screen and (max-width: 991.98px) {
          font-size: 16px;
        }
      }
      .date {
        color: var(--gray-6);
        font-family: "GilroyMedium";
        font-size: 15px;
        line-height: 22px;
        margin-left: auto;
        @media screen and (max-width: 991.98px) {
          font-size: 13px;
        }
      }
    }
    .startWrapper {
      margin-top: 5px;
      span {
        color: var(--primary);
      }
    }
    .itemContent {
      font-family: "GilroyRegular";
      font-size: 15px;
      line-height: 22px;
      color: var(--black);
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      margin-top: 15px;
      @media screen and (max-width: 991.98px) {
        font-size: 14px;
      }
    }
    .morePlusButton {
      margin-top: 20px;
    }
  }

  &.type2 {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 40px 0;

    .item {
      flex-direction: column;
      align-items: center;
      width: 20%;
      padding: 0 5px;
      gap: 10px 0;
      @media screen and (max-width:1200px) {
        width: 33.3%;
      }
      @media screen and (max-width: 991.98px) {
        width: 50%;
      }
      .title {
        width: initial;
        text-align: center;
        color: var(--text);
      }
    }
  }
  &.type3 {
    display: flex;
    flex-wrap: wrap;
    .item {
      gap: 25px;
      width: 50%;
      padding: 15px 0;
      @media screen and (max-width: 570px) {
        width: 100%;
        padding:7px 0;

      }
      .title {
        width: initial;
      }
      .content {
        width: initial;
      }
    }
  }
  &.type4 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @media screen and (max-width: 991.98px) {
      gap: 20px;
    }
    .item {
      border: 1px solid var(--gray);
      border-radius: 12px;
      padding: 20px 30px;
      width: 100%;
      display: flex;
      align-items: stretch;
      gap: 30px;
      @media screen and (max-width: 991.98px) {
        padding: 16px;
        gap: 10px;
        align-items: flex-start;
      }
      p,
      .paragraph {
        font-size: 16px;
        line-height: 25px;
        color: var(--text);
        font-family: "GilroyRegular";
        @media screen and (max-width: 991.98px) {
          font-size: 14px;
          line-height: 20px;
          // padding-left: 44px;
        }
        b {
          font-family: "GilroySemibold";
          color: var(--primary);
        }

        a {
          color: var(--primary);
          font-family: "GilroySemibold";
          position: relative;
          &:after {
            content: "";
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: all 0.3s linear;
            border-bottom: 1px dotted var(--primary);
          }
          @media screen and (min-width: 992px) {
            &:hover {
              &:after {
                width: 0;
              }
            }
          }
        }
        &.type2 {
          font-size: 14px;
          line-height: 22px;
        }
      }
      .icon {
        width: 40px;
        min-width: 40px;
        max-width: 40px;
        img {
          width: 100%;
        }
      }
      .title {
        width: initial;
        font-family: "GilroySemibold";
        margin-bottom: 10px;
        color: var(--text);
        margin-top: 7px;
      }
      .content {
        width: initial;
      }
    }
  }

  &.list {
    list-style: disc;
    padding-left: 20px;
    li {
      display: list-item;
    }
    .item {
      .title {
        width: initial;
        color: var(--text);
      }
    }
  }
}
.map {
  height: 580px;
  @media screen and (max-width: 991.98px) {
    height: 400px;
  }
  img{
    min-height: 100%;
    object-fit: cover;
  }
}
.colCustomGroup {
  gap: 30px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  @media screen and (max-width: 991.98px) {
    gap: 20px;
  }
  &.half {
    & > div {
      width: 100%!important;
      @media screen and (min-width: 1100px) {
        max-width: calc(50% - 15px);
      }
    }
  }
}
.commentProps {
  .item {
    border-radius: 12px;
    padding: 20px 30px;
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: 30px;
    p,
    .paragraph {
      font-size: 16px;
      line-height: 25px;
      color: var(--text);
      font-family: "GilroyRegular";
      b {
        font-family: "GilroySemibold";
        color: var(--primary);
      }

      a {
        color: var(--primary);
        font-family: "GilroySemibold";
        position: relative;
        &:after {
          content: "";
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          transition: all 0.3s linear;
          border-bottom: 1px dotted var(--primary);
        }
        @media screen and (min-width: 992px) {
          &:hover {
            &:after {
              width: 0;
            }
          }
        }
      }
      &.type2 {
        font-size: 14px;
        line-height: 22px;
      }
    }
    .icon {
      width: 40px;
      min-width: 40px;
      max-width: 40px;
      img {
        width: 100%;
      }
    }
    .title {
      font-family: "GilroySemibold";
      margin-bottom: 10px;
      color: var(--text);
    }
    .itemHead {
      display: flex;
      align-items: center;

      .name {
        font-family: "GilroySemibold";
        font-size: 18px;
        line-height: 25px;
        color: var(--black);
      }
      .date {
        color: var(--gray-6);
        font-family: "GilroyMedium";
        font-size: 15px;
        line-height: 22px;
        margin-left: auto;
      }
    }
    .startWrapper {
      margin-top: 5px;
      span {
        color: var(--primary);
      }
    }
    .itemContent {
      font-family: "GilroyRegular";
      font-size: 15px;
      line-height: 22px;
      color: var(--black);
      margin-top: 15px;
    }
  }
}
.placesVisit {
  border: 1px solid var(--gray);
  padding: 40px 30px;
  margin-top: 30px;
  @media screen and (max-width: 991.98px) {
    padding: 20px 16px;
  }
  .top {
    display: flex;
    align-items: center;
    gap: 40px;

    @media screen and (max-width: 991.98px) {
      gap: 20px;
    }
    .icon-route-map {
      font-size: 50px;
      color: var(--primary);

      @media screen and (max-width: 991.98px) {
        font-size: 32px;
      }
    }
    .title {
      font-family: "GilroySemibold";
      font-size: 24px;
      color: var(--black);
      line-height: 32px;
      @media screen and (max-width: 991.98px) {
        font-size: 18px;
        line-height: 22px;
      }
      b {
        color: var(--primary);
      }
      span {
        font-size: 16px;
      }
    }
  }
  .placesVisitList {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
    padding-left: 92px;
    min-height: 100px;
    @media screen and (max-width: 991.98px) {
      padding-left: 52px;
      gap: 20px;
      flex-direction: column;
      align-items: flex-start;
    }
    @media screen and (max-width: 540px) {
    }
    .visitItem{
      width: calc(33.3% - 27px);
      @media screen and (max-width: 991.98px) {
        width: calc(50% - 20px);
      }
      @media screen and (max-width: 540px) {
        width:auto;
      }
    }
    a {
      font-family: "GilroyMedium";
      position: relative;
      color: var(--black);
      font-size: 16px;
      display: inline-flex;
      transition: all 0.3s linear;
      width: auto;
      

      &:after{
        content: "";
        width: 100%;
        // border-bottom: 1px solid var(--primary);
        position: absolute;
        left: 0;
        bottom: -3px;
        transition: all .3s linear;
        border-bottom: 1px solid var(--gray-5);
      }

      @media screen and (min-width: 992px) {
        &:hover {
          color: var(--primary);
        }
      }
    }

    &.type2{
      .visitItem{
        @media screen and (max-width:1200px) {
          width: calc(50% - 20px);
        }
      }
    }
  }
}
.pointWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: auto;
  @media screen and (max-width:1440px) {
    flex-direction: column;
    align-items: flex-start;
  }
  @media screen and (max-width:991.98px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    font-family: "GilroySemibold";
    color: var(--primary);
    font-size: 20px;
    line-height: 27px;
    @media screen and (max-width: 1440px) {
      font-size: 18px;
      line-height: 25px;
    }
    @media screen and (max-width: 991.98px) {
      font-size: 15px;
      line-height: 25px;
    }
    b {
      margin-left: 20px;
      @media screen and (max-width: 991.98px) {
        margin-left: 10px;
      }
    }
  }
  .startWrapper {
    color: var(--primary);
    padding-left: 40px;
    @media screen and (max-width:1600px) {
      padding-left: 30px;
    }
    @media screen and (max-width:1440px) {
      padding-left: 0;
    }
    span {
      font-size: 19px;
      @media screen and (max-width:1400px) {
        font-size: 18px;
      }
      @media screen and (max-width: 991.98px) {
        font-size: 17px;
      }
    }
  }
}
.movContent {
  height: 110px;
  overflow: hidden;
  transition: all 0.3s linear;
  @media screen and (max-width:991.98px) {
    height: 100px;
  }
  &.opened {
    height: auto;
    overflow: visible;
  }

  &.type2:not(.opened) {
    height: 0;
  }
}
.morePlusButton {
  margin-top: 30px;
  font-family: "GilroySemibold";
  font-size: 14px;
  line-height: 25px;
  color: var(--primary);
  position: relative;
  display: inline-flex;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid var(--primary);
    left: 0;
    bottom: 0;
    transition: all 0.3s linear;
  }
  &.noAfter {
    &:after {
      display: none;
    }
  }
  @media screen and (min-width: 992px) {
    &:hover {
      color: var(--primary);
      &:after {
        width: 0;
        overflow: hidden;
      }
    }
  }
}
.userDetails {
  border-top: 1px solid var(--gray-5);
  border-bottom: 1px solid var(--gray-5);
  padding-top: 50px;
  padding-bottom: 50px;
  .userHead {
    display: flex;
    align-items: center;
    .userInfo {
      display: flex;
      align-items: center;
      gap: 10px;
      .icon-user {
        font-size: 72px;
        @media screen and (max-width:991.98px) {
          font-size: 45px; 
        }
      }
      .title {
        font-size: 14px;
        color: var(--text);
        line-height: 22px;
        font-family: "GilroyRegular";
        @media screen and (max-width:991.98px) {
          font-size: 13px; 
          line-height: 20px;
        }
      }
      .name {
        font-family: "GilroyMedium";
        font-size: 17px;
        line-height: 27px;
        color: var(--text);
        border-bottom: 1px solid var(--text);
        @media screen and (max-width:991.98px) {
          font-size: 15px; 
          line-height: 22px;
        }
      }
    }
    .stick {
      margin-left: auto;
      border: 1px solid var(--gray-6);
      color: var(--gray-6);
      background-color: rgba(0, 0, 0, 0);
      font-family: "GilroyRegular";
      font-size: 13px;
      border-radius: 30px;
      padding: 5px 10px;
      opacity: 0.5;
    }
  }

  .userContent {
    padding-top: 30px;
    .movContent {
      height: 85px;
      overflow: hidden;
      transition: all 0.3s linear;
      @media screen and (max-width:991.98px) {
        height: 75px;
      }
      &.opened {
        height: auto;
        overflow: visible;
      }
    }
    .paragraph {
      font-size: 16px;
      line-height: 28px;
      color: var(--gray-7);
      @media screen and (max-width:991.98px) {
        font-size: 14px; 
        line-height: 25px;
      }
      span {
      }
      a {
        position: relative;
        font-family: "GilroySemibold";
        color: var(--primary);
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          border-bottom: 1px dotted var(--primary);
          transition: all 0.3s linear;
        }
        @media screen and (min-width: 992px) {
          &:hover {
            &:after {
              width: 0;
              overflow: hidden;
            }
          }
        }
      }
      b {
      }
    }
    .morePlusButton {
      margin-top: 30px;
      font-family: "GilroySemibold";
      font-size: 14px;
      line-height: 25px;
      color: var(--primary);
      position: relative;
      display: inline-flex;
      cursor: pointer;
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 1px solid var(--primary);
        left: 0;
        bottom: 0;
        transition: all 0.3s linear;
      }
      @media screen and (min-width: 992px) {
        &:hover {
          color: var(--primary);
          &:after {
            width: 0;
            overflow: hidden;
          }
        }
      }
    }
  }
}

/*Fixed Column*/
.fixedColumn {
  transition: all 0.3s linear;
  width: 450px;
  @media screen and (max-width: 991.98px) {
    width: 100%;
  }
  .boatType{
    justify-content: flex-start;
    padding-bottom: 10px;
    @media screen and (max-width: 991.98px) {
      position: absolute;
      left: 17px;
      top: 0;
      z-index: -1;
      height: 50px;
      padding-bottom: 0;
    }
  }
  &.show {
    position: fixed !important;
    top: 100px;
    @media screen and (max-width: 991.98px) {
      // top: 65px;
      top: auto;
      bottom: 0;
      width: 100%;
      left: 0;
      z-index: 999;
      background-color: rgba(0, 0, 0, 0);
      box-shadow: none;
      border: none;
    }
    &.absolute {
      @media screen and (min-width: 992px) {
        position: absolute !important;
        bottom: 0;
        right: 0;
        top: auto !important;
      }
    }
  }
  .dateColumnWrapper {
    &.fixed {
      // height: 55px;
      // overflow: hidden;
      // transition: all 0.3s linear;
      // padding-top: 0;
      // padding-bottom: 0;
      // border: none;
      height: 100px;
      transition: all 0.3s linear;
      padding-top: 10px;
      padding-bottom: 0;
      border: none;
      box-shadow: none;

      .title {
        @media screen and (max-width: 991.98px) {
          margin-bottom: 10px;
          height: 60px;
          display: flex;
          align-items: center;
          background: var(--primary);
          color: var(--white);
          border-radius: 16px;
          padding: 0 16px;
          justify-content: center;
          box-shadow: 0 3px 67px rgba(217, 4, 62, 0.8) !important;
          // margin-bottom: 0;
          // height: 55px;
          // display: flex;
          // align-items: center;
        }
      }
      .dateInputs{
        opacity: 0;
      }

      &.selected {
        height: auto;
        overflow: visible;
        padding-bottom: 30px;
        background-color: var(--white);
        box-shadow: 0 3px 67px rgba(217, 4, 62, 0.8) !important;
        padding-top: 40px;
        .dateInputs{
          opacity: 1;
        }

        .title {
          @media screen and (max-width: 991.98px) {
            background: rgba(0, 0, 0, 0);
            color: var(--text);
            justify-content: flex-start;
            padding-left: 0;
            padding-right: 0;
            box-shadow: none!important;
          }
        }
      }
      .date-picker-wrapper {
        @media screen and (max-width: 991.98px) {
          position: absolute !important;
          padding-top: 30px !important;
          top: auto !important;
          bottom: calc(100% - 55px);
        }
      }
    }
  }

  &.selected{
    .boatType{
      @media screen and (max-width:991.98px) {
        z-index: 99;
      }
    }
  }
  // &.absolute{
  //   position: absolute!important;
  //   bottom: 0;
  // }
}
