section {
  &:not(:first-child) {
    margin-top: 120px;
    @media screen and (max-width: 991.98px) {
      margin-top: 80px;
    }
  }
  .sectionWrapper {
    padding: 65px;
    @media screen and (max-width: 991.98px) {
      padding: 30px 16px;
    }
  }
  .sectionWrapper-2 {
    .sectionContent {
      padding: 45px;
      @media screen and (max-width: 991.98px) {
        padding: 30px 16px;
      }
    }
    &.type2{
      padding-top: 25px;
    }
  }
  .sectionHead {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
    @media screen and (max-width: 991.98px) {
      margin-bottom: 20px;
    }
    .sectionTitle {
      font-family: "GilroySemibold";
      font-size: 35px;
      color: var(--primary);
      line-height: 45px;
      text-transform: uppercase;
      @media screen and (max-width: 991.98px) {
        font-size: 20px;
        line-height: 30px;
      }
    }
    .sectionText {
      font-family: "GilroyRegular";
      font-size: 15px;
      color: var(--gray-6);
      line-height: 25px;
      margin-top: 25px;
      @media screen and (max-width: 991.98px) {
        font-size: 14px;
        line-height: 22px;
        margin-top: 15px;
        text-align: justify;
      }
    }

    &.type2 {
      text-align: left;
      max-width: initial;
      margin-bottom: 30px;
      .sectionTitle {
        font-family: "GilroySemibold";
        font-size: 30px;
        line-height: 37px;
        text-transform: none;
        @media screen and (max-width: 991.98px) {
          font-size: 20px;
          line-height: 30px;
        }
      }
      .sectionText {
        font-family: "GilroyMedium";
        font-size: 15px;
        line-height: 30px;
        margin-top: 0;
        max-width: 800px;
        font-size: 14px;
        line-height: 22px;
        margin-top: 15px;
        text-align: justify;
      }
    }
  }
  .sectionContent {
  }

  .customBlockquote {
    blockquote {
      display: flex;
      align-items: center;
      min-height: 110px;
      padding: 30px;
      color: var(--white);
      @media screen and (max-width: 640px) {
        flex-wrap: wrap;
      }

      .icon-star-percent {
        font-size: 46px;
      }
      p {
        font-family: "GilroyBold";
        font-size: 18px;
        color: var(--white);
        line-height: 26px;
        padding-left: 30px;
        @media screen and (max-width:640px) {
          flex: 1;
        }
      }
      .fixBtn {
        margin-left: auto;
        font-family: 'GilroySemibold';
        font-size: 16px;
        height: 60px;
        min-width: 200px;
        @media screen and (max-width: 640px) {
          width: 100%;
          max-width: 400px;
          margin: 30px auto 0;
        }
      }
    }
  }
}
.videoContent {
  max-width: 1200px;
  margin: 0 auto;
}
.homeSection {
  padding-top: 85px;
  height: 100vh;
  display: flex;
  align-items: center;
  @media screen and (max-width: 991.98px) {
    height: auto;
  }

  .leftColumn {
    background-color: var(--white);
    border-radius: 0 300px 300px 0;
    border: 1px solid var(--gray-3);
    max-width: 900px;
    padding-left: 90px;
    padding-right: 120px;
    padding-bottom: 40px;
    // height: 56vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media screen and (max-height: 900px) {
    }
    @media screen and (max-width: 1700px) {
      padding-left: 36px;
      padding-right: 36px;
      padding-top: 30px;
    }
    @media screen and (max-width: 991.98px) {
      padding: 50px 30px;
      border-radius: 0 200px 200px 0;
    }
    // @media screen and (max-width: 1440px) {
    //   padding-left: 30px;
    //   padding-right: 50px;
    // }

    .category {
      font-family: "GilroyBold";
      font-size: 17px;
      line-height: 25px;
      color: var(--primary);
      margin-bottom: 15px;
      @media screen and (max-height: 768px) {
        margin-bottom: 5px;
      }
      @media screen and (max-width: 1366px) {
        margin-bottom: 5px;
      }
      @media screen and (max-width: 991.98px) {
        font-size: 13px;
        line-height: 22px;
      }
    }
    h1,
    .sectionTitle {
      font-family: "GilroySemibold";
      font-size: 50px;
      line-height: 60px;
      color: var(--black);
      margin-bottom: 20px;
      @media screen and (max-height: 900px) {
        font-size: 48px;
        line-height: 52px;
      }
      @media screen and (max-height: 768px) {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 10px;
      }
      @media screen and (max-width: 1600px) {
        font-size: 48px;
        line-height: 52px;
        max-width: 80%;
      }
      @media screen and (max-width: 1440px) {
        font-size: 36px;
        line-height: 42px;
      }
      @media screen and (max-width: 1366px) {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 10px;
      }
      @media screen and (max-width: 991.98px) {
        font-size: 20px;
        line-height: 28px;
      }
    }
    .text {
      font-family: "GilroyRegular";
      font-size: 14px;
      line-height: 25px;
      color: var(--gray-6);

      @media screen and (max-height: 768px) {
        line-height: 21px;
      }
      @media screen and (max-width: 1600px) {
        max-width: 80%;
      }
      @media screen and (max-width: 1366px) {
        line-height: 21px;
      }
      @media screen and (max-width: 991.98px) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  small {
    font-size: 14px;
    color: var(--gray-6);
    font-family: "GilroyRegular";
    padding: 50px 0 0;
    text-align: center;
    line-height: 24px;

    a {
      color: var(--primary);
      font-family: "GilroySemibold";
      position: relative;
      @media screen and (max-width: 991.98px) {
        &:hover {
          color: var(--primary);
        }
      }

      &:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--primary);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.3s linear;
      }

      @media screen and (min-width: 992px) {
        &:hover {
          width: 0;
        }
      }
    }
  }
  .iconList {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    @media screen and (max-height: 900px) {
      margin-top: 0;
    }
    @media screen and (max-width: 1600px) {
      margin-top: 0;
    }
    @media screen and (max-width: 991.98px) {
      gap: 30px;
      flex-direction: column;
      align-items: flex-start;
    }
    a {
      font-family: "GilroyRegular";
      font-size: 13px;
      color: #878787;
      position: relative;
      &:after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: #878787;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.3s linear;
      }

      @media screen and (min-width: 992px) {
        &:hover {
          &:after {
            width: 0;
          }
        }
      }
    }
  }
  .videoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    max-width: 575px;
    border-radius: 100px;
    margin-left: auto;
    @media screen and (max-width: 991.98px) {
      border-radius: 40px;
      margin-right: auto;
    }
    video,
    iframe {
      min-width: 100%;
      min-height: 100%;
      height: auto;
      width: auto;
      object-fit: cover;
      object-position: center;
      max-width: initial;
    }
  }
}

.boatTabWrapper {
  // aspect-ratio: 9/5;
  height: 800px;
  overflow: hidden;
  @media screen and (max-width: 991.98px) {
    height: auto;
    padding-top: 30px;
  }
}

.tekneKiralamaSection {
  .sectionHead {
    @media screen and (max-width: 768px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  .container-3xl {
    @media screen and (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.populerLokasyonSection {
  .container-3xl {
    @media screen and (max-width: 991.98px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .sectionContent {
    display: flex;
    align-items: stretch;
    gap: 40px;
    @media screen and (max-width: 991.98px) {
      display: block;
    }
  }
  .allLinkCard {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 25px;
    padding: 20px 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    @media screen and (max-width: 991.98px) {
      max-width: 400px;
      width: calc(100% - 32px);
      margin: 40px auto 0;
      height: 115px;
      padding: 20px;
      border-radius: 24px;
      background-color: var(--gray-6);
    }

    &:after {
      content: "";
      width: 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--gray);
      transition: all 0.3s linear;
      z-index: -1;
      border-radius: 20px;
    }
    .cardBody {
      text-align: center;
      padding-top: 0;

      .title {
        color: var(--white);
        font-size: 20px;
        line-height: 28px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @media screen and (max-width: 991.98px) {
          font-size: 15px;
          line-height: 25px;
        }
      }
      .cardText {
        color: var(--white);
        margin-top: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-family: "GilroyRegular";
        font-size: 15px;
        line-height: 22px;
        padding-top: 12px;
        @media screen and (max-width: 991.98px) {
          margin-top: 0;
          padding-top: 0;
          font-size: 13px;
          line-height: 20px;
        }
      }
      .textLink {
        color: var(--white);
        display: flex;
        align-items: center;
        margin-top: 100px;
        justify-content: center;
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        font-size: 15px;
        font-family: "GilroyMedium";
        line-height: 22px;
        gap: 20px;
        @media screen and (max-width: 991.98px) {
          position: relative;
          margin-top: 20px;
          bottom: 0;
          font-size: 13px;
          line-height: 20px;
          gap: 10px;
        }
        &:after {
          display: none;
        }
        .icon-arrow-long {
          font-size: 24px;
        }
      }
    }
    @media screen and (min-width: 992px) {
      &:hover {
        &:after {
          width: 100%;
        }
        .cardBody {
          .title {
            color: var(--gray-6);
          }
          .cardText {
            color: var(--gray-6);
          }
          .textLink {
            color: var(--gray-6);
          }
        }
      }
    }
  }
}
.blogSection {
  padding-bottom: 55px;

  .category {
    font-family: "GilroySemibold";
    font-size: 15px;
    line-height: 30px;
    color: var(--primary);
    margin-bottom: 65px;
    @media screen and (max-width: 991.98px) {
      font-size: 13px;
      margin-bottom: 5px;
    }
  }
  .title {
    font-family: "GilroyBold";
    font-size: 45px;
    line-height: 55px;
    color: var(--primary);
    margin-bottom: 15px;
    @media screen and (max-width: 991.98px) {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 10px;
      display: block;
    }
  }
  p {
    font-family: "GilroyRegular";
    font-size: 17px;
    line-height: 30px;
    color: #444444;
    margin-bottom: 32px;
    @media screen and (max-width: 991.98px) {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 25px;
    }
  }
  .buttons {
    display: flex;
    align-items: stretch;
    gap: 20px;
  }
}

.eBultenSection {
  #captchaWrapper {
    max-width: 300px;
  }
  .title {
    font-family: "GilroyBold";
    font-size: 60px;
    line-height: 85px;
    color: var(--white);
    max-width: 640px;
    @media screen and (max-width: 991.98px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .emailInputWrapper {
    display: flex;
    align-items: stretch;
    max-width: 800px;
    gap: 10px;
    margin-bottom: 25px;
    margin-top: 80px;
    @media screen and (max-width: 991.98px) {
      margin-top: 20px;
      flex-direction: column;
    }
    input {
      flex: 1;
      border: none;
      border-bottom: 1px solid var(--white);
      background-color: rgba(0, 0, 0, 0);
      color: var(--white);
      border-radius: 0;
      @media screen and (max-width: 991.98px) {
        height: 45px;
        min-height: 45px;
        margin-bottom: 10px;
        max-width: 400px;
        border-radius: 0;
      }

      &::placeholder {
        color: var(--white);
        opacity: 1;
        font-family: "GilroySemibold";
      }
      &::-moz-placeholder {
        color: var(--white);
        opacity: 1;
        font-family: "GilroySemibold";
      }
      &::-webkit-input-placeholder {
        color: var(--white);
        opacity: 1;
        font-family: "GilroySemibold";
      }
      &:-moz-placeholder {
        color: var(--white);
        opacity: 1;
        font-family: "GilroySemibold";
      }
      &:-ms-input-placeholder {
        color: var(--white);
        opacity: 1;
        font-family: "GilroySemibold";
      }
    }
    .fixBtn {
      width: 124px;
      @media screen and (max-width: 991.98px) {
        width: 100%;
        max-width: 400px;
        background-color: var(--white);
        color: var(--primary);
      }
    }
  }
}


//iç sayfalar
.pageSection{
  padding-top: 85px;
}