section {
  &:not(:first-child) {
    margin-top: 120px;
  }
  .sectionWrapper{
    padding: 65px;
  }
  .sectionHead {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
    .sectionTitle {
      font-family: "GilroySemibold";
      font-size: 35px;
      color: var(--primary);
      line-height: 45px;
      text-transform: uppercase;
    }
    .sectionText {
      font-family: "GilroyRegular";
      font-size: 15px;
      color: var(--gray-6);
      line-height: 25px;
      margin-top: 25px;
    }
  }
  .sectionContent {
  }
  
}
.videoContent{
  max-width: 900px;
  margin:0 auto;
}
.homeSection {
  padding-top: 85px;
  height: 100vh;
  display: flex;
  align-items: center;

  .leftColumn {
    background-color: var(--white);
    border-radius: 0 300px 300px 0;
    border: 1px solid var(--gray-3);
    max-width: 900px;
    padding-left: 90px;
    padding-right: 120px;
    height: 56vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .category {
      font-family: "GilroyBold";
      font-size: 17px;
      line-height: 25px;
      color: var(--primary);
      margin-bottom: 15px;
    }
    h1,
    .sectionTitle {
      font-family: "GilroySemibold";
      font-size: 50px;
      line-height: 60px;
      color: var(--black);
      margin-bottom: 20px;
    }
    .text {
      font-family: "GilroyRegular";
      font-size: 14px;
      line-height: 25px;
      color: var(--gray-6);
    }
  }

  small {
    font-size: 14px;
    color: var(--gray-6);
    font-family: "GilroyRegular";
    padding: 50px 0 0;
    text-align: center;

    a {
      color: var(--primary);
      font-family: "GilroySemibold";
      position: relative;

      &:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--primary);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.3s linear;
      }

      @media screen and (min-width: 992px) {
        &:hover {
          width: 0;
        }
      }
    }
  }
  .iconList {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    a {
      font-family: "GilroyRegular";
      font-size: 13px;
      color: #878787;
      position: relative;
      &:after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: #878787;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.3s linear;
      }

      @media screen and (min-width: 992px) {
        &:hover {
          &:after {
            width: 0;
          }
        }
      }
    }
  }
  .videoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    max-width: 575px;
    border-radius: 100px;
    video,
    iframe {
      min-width: 100%;
      min-height: 100%;
      height: auto;
      width: auto;
      object-fit: cover;
      object-position: center;
      max-width: initial;
    }
  }
}

.boatTabWrapper{
  aspect-ratio: 9/5;
  overflow: hidden;
}

.blogSection{
  .category{
    font-family: 'GilroySemibold';
    font-size: 15px;
    line-height: 30px;
    color: var(--primary);
    margin-bottom: 65px;
  }
  .title{
    font-family: 'GilroyBold';
    font-size: 45px;
    line-height: 55px;
    color: var(--primary);
    margin-bottom: 15px;
  }
  p{
    font-family: 'GilroyRegular';
    font-size: 17px;
    line-height: 30px;
    color: #444444;
    margin-bottom: 32px;
  }
  .buttons{
    display: flex;
    align-items: stretch;
    gap: 20px;
  }
}

.eBultenSection{
  #captchaWrapper{
    max-width: 300px;
  }
  .title{
    font-family: 'GilroyBold';
    font-size: 60px;
    line-height: 85px;
    color: var(--white);
    max-width: 640px;
  }
  .emailInputWrapper{
    display: flex;
    align-items: stretch;
    max-width: 800px;
    gap: 10px;
    margin-bottom: 25px;
    margin-top: 80px;
    input{
      flex: 1;
      border: none;
      border-bottom: 1px solid var(--white);
      background-color: rgba(0,0,0,0);
      color: var(--white);

      &::placeholder{
        color: var(--white);
        opacity: 1;
      }
      &::-moz-placeholder{
        color: var(--white);
        opacity: 1;
      }
      &::-webkit-input-placeholder{
        color: var(--white);
        opacity: 1;
      }
      &:-moz-placeholder{
        color: var(--white);
        opacity: 1;
      }
      &:-ms-input-placeholder{
        color: var(--white);
        opacity: 1;
      }
    }
    .fixBtn{
      width: 124px;
    }
  }
}