.demandDetailsContent {
  .card {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    gap: 40px;
    padding: 30px;
    margin-bottom: 40px;
    @media screen and (max-width:991.98px) {
      margin-bottom: 20px;
    }
    @media screen and (max-width:640px) {
      flex-direction: column;
      padding: 16px;
    }

    .cardLeft {
      width: 300px;
      @media screen and (max-width:640px) {
        max-width: 300px;
        width: 100%;
      }
      .cardImage {
        aspect-ratio: 3/2;
        border-radius: 24px;
        overflow: hidden;
      }
    }
    .cardRight {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .fixBtn {
        min-width: 45px;
      }
    }
    .category {
      display: inline-flex;
      padding: 5px 20px;
      background-color: var(--primary);
      border-radius: 20px;
      font-family: "GilroyMedium";
      font-size: 13px;
      color: var(--white);
      text-transform: uppercase;
      @media screen and (max-width:991.98px) {
        font-size: 12px;
      }
    }
    .name {
      font-size: 26px;
      line-height: 37px;
      font-family: "GilroySemibold";
      color: var(--primary);
      display: flex;
      gap: 7px;
      align-items: flex-start;
      @media screen and (max-width:991.98px) {
        font-size: 18px;
        line-height: 25px;
      }

      .id {
        font-family: "GilroyRegular";
        font-size: 14px;
        color: var(--gray-6);
        line-height: 20px;
        min-width: 85px;
        margin-top: 8px;
      }
    }
    .title {
      display: inline-block;

      .location {
        font-size: 15px;
        color: var(--text);
        line-height: 24px;
        font-family: "GilroyRegular";
        @media screen and (max-width: 1600px) {
          font-size: 14px;
        }
      }
      .id {
        font-size: 15px;
        color: var(--text);
        line-height: 24px;
        font-family: "GilroyRegular";
        @media screen and (max-width: 1600px) {
          font-size: 14px;
        }
      }
    }
    .dateInfo {
      display: flex;
      align-items: center;
      margin-top: 5px;

      .date {
        font-size: 14px;
        color: var(--primary);
        font-family: "GilroySemibold";
      }
      .loc {
        color: var(--primary);
        font-family: "GilroySemibold";
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        gap: 10px;
      }
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 20px;
      @media screen and (max-width:991.98px) {
        gap: 5px;
        margin-top: 0;
      }

      span {
        font-size: 13px;
        font-family: "GilroyMedium";
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 16px;
        border-radius: 5px;
        color: var(--gray-6);
        position: relative;
        &:first-child {
          padding-left: 0;
        }
        &:not(:first-child):before {
          content: "|";
          position: absolute;
          left: 0;
        }
      }
    }
    .priceWrapper {
      display: flex;
      align-items: flex-end;
      gap: 15px;
      margin-top: 20px;

      .discount {
        margin-top: 0;
        font-size: 16px;
        color: #919191;
        font-family: "GilroyMedium";
        text-decoration: line-through;
      }

      .countPrice {
        color: var(--primary);
        font-size: 14px;
        display: flex;
        align-items: flex-end;
        margin-top: 10px;

        .price {
          font-size: 28px;
          font-family: "GilroySemibold";
          line-height: 19px;
        }
        .currencly {
          font-family: sans-serif;
          padding: 0 5px 0 10px;
          font-size: 19px;
        }
      }
    }
    .infoList {
      gap: 10px 0;
      .title {
        font-size: 14px;
        font-family: "GilroySemibold";
        line-height: 22px;
        color: var(--gray-7);
        padding-left: 17px;
        @media screen and (max-width:991.98px) {
          font-size: 12px;
          line-height: 20px;
        }
      }
      hr {
        margin: 0 0;
      }
      .text {
        font-size: 15px;
        line-height: 25px;
        color: var(--primary);
        font-family: "GilroySemibold";
        @media screen and (max-width:991.98px) {
          font-size: 13px;
          line-height: 20px;
        }
        a {
          position: relative;
          color: var(--primary);
          &:after {
            content: "";
            width: 100%;
            border-bottom: 1px dotted var(--primary);
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all 0.3s linear;
          }
          &:hover {
            color: var(--primary);
          }
          @media screen and (min-width: 992px) {
            &:hover {
              color: var(--primary);
              &:after {
                width: 0;
              }
            }
          }
        }
        &.type2 {
          font-family: "GilroyMedium";
          font-size: 13px;
          line-height: 20px;
          color: var(--primary);
        }
      }

      &.type2 {
        .text {
          text-align: right;
        }
      }
    }
    .type {
      font-size: 15px;
      font-family: "GilroySemibold";
      color: var(--gray-7);
      line-height: 27px;
      margin-top: 15px;
      @media screen and (max-width:991.98px) {
        margin-top: 10px;
        font-size: 13px;
        line-height: 22px;
      }

    }
    .card-title {
      padding-left: 0;
    }
  }
  .card-title {
    font-size: 17px;
    font-family: "GilroyMedium";
    color: var(--primary);
    padding-left: 20px;
    min-height: 27px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    @media screen and (max-width:991.98px) {
      font-size: 15.5px;
      padding-left: 16px;
    }
  }
  .messageList {
    .messageItem {
      font-family: "GilroyMedium";
      font-size: 16px;
      line-height: 22px;
      color: var(--text-2);
      display: flex;
      align-items: flex-start;
      gap: 20px;
      margin-bottom: 30px;
      @media screen and (max-width:991.98px) {
        font-size: 14px;
        margin-bottom: 20px;
        gap: 10px;
      }
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #cccccc;
        border-radius: 100%;
        width: 32px;
        min-width: 32px;
        height: 32px;
      }
      .text {
        background-color: var(--gray);
        border-radius: 24px;
        padding: 30px;
        @media screen and (max-width:991.98px) {
          padding:16px;
        }
      }

      &:nth-child(2n + 1) {
        .text {
          background-color: rgba(0, 0, 0, 0);
          border: 1px solid #dee2e6;
        }
      }
    }
    .message {
      label {
        font-family: "GilroySemibold";
        font-size: 14px;
        color: var(--primary);
        padding-left: 30px;
        margin-bottom: 15px;
      }
      textarea {
        border: 1px solid #dee2e6;
        border-radius: 24px;
        padding: 30px;
        color: var(--gray-6);
        min-height: 200px;
        resize: none;
        font-size: 14px;
        font-family: "GilroyMedium";
      }
      .fixBtn {
        margin-left: 30px;
        margin-top: 20px;
      }
    }
  }
}
.boatUser{
  font-size: 20px;
  font-family: 'GilroyMedium';
  color: var(--text);
  display: flex;
  align-items: center;
  gap: 20px;

  @media screen and (max-width:991.98px) {
    font-size: 14px;
  }

  b{
    color: var(--primary);
    font-family: 'GilroySemibold';
    font-size: 24px;
    @media screen and (max-width:991.98px) {
      font-size: 18px;
    }
  }
}
.moduleTitle {
  font-size: 17px;
  font-family: "GilroySemibold";
  color: var(--primary);
  padding-left: 0;
  min-height: 27px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

}


#cropModal,
#singleCropModal {
  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Taşmayı engeller */
    height: 500px; /* Modal içindeki alanı sınırlamak için */
    @media screen and (max-width: 991.98px) {
      height: auto;
      max-height: 90vh;
    }
  }
  #modalImage {
    max-width: 100%;
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Resmi modal alanına sığdır */
    margin: 0 auto;
  }
}

.customImageUpload {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 30px;
  @media screen and (max-width: 991.98px) {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .delete-btn {
    position: absolute;
    font-size: 25px;
    color: white;
    padding: 5px 10px;
    min-width: initial;
    top: -20px;
    right: -20px;
    border-radius: 10px;
    @media screen and (max-width: 991.98px) {
      font-size: 20px;
      padding: 3px 5px;
      height: 30px;
      right: 10px;
      top: 10px;
    }
  }

  p {
    @media screen and (max-width: 991.98px) {
      display: none;
    }
  }
  .custom-file-upload {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
    color: var(--primary);
    font-size: 20px;
    line-height: 27px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 24px;
    height: 200px;
    @media screen and (max-width: 991.98px) {
      font-size: 14px;
      line-height: 20px;
      height: auto;
    }
    &.drag-over {
      border-color: var(--primary);
      background-color: #f8f9fa;
    }
    .icon-upload {
      font-size: 30px;
      margin-bottom: 20px;
      @media screen and (max-width: 991.98px) {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 991.98px) {
      &:hover {
        border-color: var(--primary);
        background-color: #f8f9fa;
      }
    }
  }

  .gallery-preview {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    @media screen and (max-width: 991.98px) {
      gap: 20px;
    }
  }
  .galleryThumb {
    position: relative;
    width: calc(33.3% - 40px);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 991.98px) {
      width: calc(50% - 10px);
    }
    @media screen and (max-width: 480px) {
      width: 100%;
    }
    &:after {
      content: "\e936";
      font-family: "customFont";
      position: absolute;
      font-size: 36px;
      color: var(--white);
    }
    img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      border-radius: 24px;
      border: 1px solid var(--gray);
    }
  }

  .cropped-image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:after {
      content: "\e936";
      font-family: "customFont";
      position: absolute;
      font-size: 36px;
      color: var(--black);
    }
    img {
      object-fit: cover;
      border-radius: 24px;
      min-height: 100%;
      min-width: 100%;
    }
  }

  &.type2 {
    flex-direction: column;
    .cropped-image-container {
      height: 200px;
    }
  }

  .custom-file-upload-single {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
    color: var(--primary);
    font-size: 20px;
    line-height: 27px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 24px;
    flex: 1;
    @media screen and (max-width: 991.98px) {
      font-size: 14px;
      line-height: 20px;
    }

    &.drag-over {
      border-color: var(--primary);
      background-color: #f8f9fa;
    }

    .icon-upload {
      font-size: 30px;
      margin-bottom: 20px;
      @media screen and (max-width: 991.98px) {
        margin-bottom: 0;
      }
    }

    & ~ .single-preview {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      font-family: "GilroyMedium";
      color: var(--gray-5);
      gap: 10px;
      aspect-ratio: 3 / 2;
      border: 1px solid var(--gray-5);
      border-radius: 3px;
      width: 300px;
      min-width: 300px;
      border-radius: 24px;
    }
    .cropped-image {
      max-width: 150px;
      max-height: 150px;
      border-radius: 5px;
      margin-bottom: 5px;
    }

    @media screen and (min-width: 991.98px) {
      &:hover {
        border-color: var(--primary);
        background-color: #f8f9fa;
      }
    }
  }
}

#checkboxAccordion {
  .accordion-item {
    background-color: var(--gray);
    border-radius: 24px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    padding-left: 30px;
  }
  .container-check {
    flex-direction: column;
    padding-left: 20px !important;
    .checkmark {
      position: absolute;
      left: 0;
      top: 14px;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      background-color: var(--white);
    }
  }
  /* Accordion Header */
  .accordion-header {
    display: block;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "GilroySemibold";
    font-size: 16px;
    color: var(--primary);
  }

  .accordion-header:hover {
    // background-color: #e9ecef;
  }

  /* Hide Body by Default */
  .accordion-body {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    padding: 0 50px 0 15px;
    opacity: 0;
    width: 100%;
    input {
      position: relative;
      opacity: 1;
    }
  }

  /* Show Body When Checked */
  .accordion-checkbox:checked ~ .accordion-body {
    height: auto; /* Adjust as needed */
    padding: 30px 50px 30px 15px;
    overflow: visible;
    opacity: 1;
  }
}

.checkedControlWrapper {
  display: flex;
  align-items: center;
  .container-check {
    border: 1px solid var(--gray-4);
    border-radius: 6px;
    height: 50px;
    align-items: center;
    padding-left: 16px !important;
    padding-right: 24px;
    .checkmark {
      border-color: var(--primary);
      border-width: 2px;
      border-radius: 4px;
    }
    .checkText {
      color: var(--primary);
      font-size: 16px;
      font-family: "GilroySemibold";
    }
  }
}

.formDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .item {
    .title {
      font-family: "GilroyBold";
      font-size: 16px;
      line-height: 25px;
      color: var(--primary);
      background-color: var(--white);
      padding: 15px 16px;
      border-radius: 10px 0 0 10px;
    }
    .content {
      font-size: 16px;
      line-height: 25px;
      color: #253e34;
      font-family: "GilroySemibold";
      background-color: #e5e5e5;
      padding: 15px 20px;
      border-radius: 0 10px 10px 0;

      &.waiting {
        background-color: var(--primary);
        color: var(--white);
      }
      &.type2 {
        background-color: rgba(0, 0, 0, 0);
        font-family: 'GilroyMedium';
        & > div {
          padding: 0 20px;
          border-radius: 10px;
          display: flex;
          align-items: center;
        }
        b{
          font-family: 'GilroySemibold';
        }
      }
    }

    .text {
      font-size: 13px;
      color: #8d8d8d;
      font-family: "GilroyMedium";
    }
  }
}


.detailsInfoRightColumn{
  .caption{
    font-size: 24px;
    line-height: 30px;
    font-family: 'GilroyMedium';
    color: var(--text);
    margin-bottom: 10px;
  }
  p{
    font-family: 'GilroyMedium';
    font-size: 16px;
    line-height: 24px;
    color: var(--text-2);
    margin-bottom: 20px;
  }
  .whatsappInfo{
    background-color: var(--gray);
    display: flex;
    align-items: center;
    border-radius: 20px;
    gap:20px;
    color: var(--text);
    font-size: 16px;
    line-height: 25px;
    font-family: 'GilroySemibold';
    .icon{
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        height: 60px;
      }
    }
  }
  .callColumn{
    background-color: var(--gray);
    display: flex;
    align-items: stretch;
    border-radius: 20px;
    gap:20px;
    .icon{
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        height: 60px;
      }
    }
    b{
      color: var(--text);
      font-size: 16px;
      line-height: 25px;
      font-family: 'GilroySemibold';
    }
    a{
      font-family: 'GilroyBold';
      font-size: 22px;
      line-height: 30px;
      color: var(--primary);
      transition: all .3s linear;
      @media screen and (min-width:992px) {
        &:hover{
          color: var(--text);
        }
      }
    }
  }
}